/*
===================
网页整体的基本样式
===================
@author:kinlon
@version:1.0
-------------------
 */

body {
    /*页面居中显示*/
    margin: 0 auto;
}

.page_center {
    /*全局页面居中*/
    position: relative;
    width: 980px;
    margin: 0 auto;
}

a {
    color:#f00;
}