/*
===================
网页整体的基本样式
===================
@author:kinlon
@version:1.0
-------------------
 */

*{
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #000;
}

html{
    margin:0 10px;
}

tr {
	height:25px;
}